      #submit {
        width: 30%;
        clear:both;
        display: block;
        margin: 0 auto;
        background-color: #7FC4B5;
      }

      #back {
        border-color: rgb(127,196,181, 0.99);
        background-color: #D9F2ED;
        margin-left: 2%;
        margin-top: 22%;
      }

@media screen and (min-width: 1501px){
      #back{
        margin-left: 2%;
        margin-top: 22%;
      }

}

@media screen and (min-width: 1080px) and (max-width: 1500px){
      #back{
        margin-left: 2%;
        margin-top: 24%;
      }
}

@media screen and (min-width: 800px) and (max-width: 1079px) {  
      #back{
        margin-left: 2%;
        margin-top: 22%;
      }

}
