/** Added padding for each player */
.member{
  padding-left: 2%;
  padding-top: 1%;
}

/** Player pool */
 #memberpool {
  background-color: #D9F2ED;
  border: 1px solid #707070;
  border-radius: 8px;
  height: 120px;
  margin-bottom: 4%;
}

/** Restict border, color, and placement of back button */
#back {
  margin-left: 2%;
  margin-top: 10%;
}

/** Start Button :launch players into game */
#start {
  width: 40%;
  clear:both;
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 500px) and (max-width: 799px){
  #back{
    margin-top: 6.5%;
  }
}

/** WIDTH RANGE FROM 1501px to infinity */
@media screen and (min-width: 1501px){
      #back{
        margin-top: 7%;
      }
}

/** WIDTH RANGE FROM 1080px to 1500px */
@media screen and (min-width: 1080px) and (max-width: 1500px){
      #back{
        margin-top: 5%;
      }
}

/** WIDTH RANGE FROM 800px to 1079px */
@media screen and (min-width: 800px) and (max-width: 1079px) {  
      #back{
        margin-top: 8.5%;
      }
}
