select{

}

/* Main Content Container */
#mainCon{
    /* border-radius: 5%; */
  margin: 0 auto;
  background-color: rgba(255,255,255, 0.53);
  border: 4px solid #707070;
  padding-bottom: 4%;
  font-size: 1em;
  width: 100%;
  height: 430px;       
}

/*Header on left side */
.headerLeftCon{
  display: none;
  color: black;
}

/** Container holding back button */
#backcon{
  position: relative;
  padding-top: 32%;
  padding-left: 2%;
}

/** Container holding header */
#headerCon{
  padding-top: 2%;
  padding-bottom: 1.5%;
  display: flex;
}

/** All divs under headerCon */
#headerCon div{
  width: 50%;
  margin: 0;
  text-align: center;
  color: #000000;
  font-size: 1.4em;
}

/**Header on the right */
.headerRight {
  border-bottom: 2px solid #42A164;
}

/** Container holding all input field */
#inputcon{
  margin: 0 auto;
  text-align: left;
  width: 90%;
  margin-bottom: 4%;
}

/** All labels under #inputcontainer */
#inputcon label {
  color: black;
  display: block;
  clear:right;
  font-size: 1em;
}

/** All input under #inputcontainer */
#inputcon input {
  background-color: rgb(217, 242, 237);
  width: 100%;
  margin-bottom: 3%;
  border-radius: 8px;
  color: black;
}

/** All buttons under #inputcontainer */
#inputcon button {
  display: block;
  margin: 0 auto;
}


/** WIDTH RANGE FROM 1501px to infinity */
@media screen and (min-width: 1501px){
      #mainCon{
        font-size: 1em;
        width:500px;
        height:465px;
      }
}

/** WIDTH RANGE FROM 1080px to 1500px */
@media screen and (min-width: 1080px) and (max-width: 1500px){
      #mainCon{
        width: 400px;
        height:460px;
        font-size: 1em;
      }
}

/** WIDTH RANGE FROM 800px to 1079px */
@media screen and (min-width: 800px) and (max-width: 1079px) {
      #mainCon{
        width: 600px;
        font-size: 1em;
        height:510px;
      }
}


/** WIDTH RANGE FROM 500px to 799px */
@media screen and (min-width: 500px) and (max-width: 799px){
      #mainCon{
        font-size: 1em;
        width: 450px;
        height: 460px;
      }
}
