body{
  user-select: none;   
}

#title{
  margin-top: 0;
}

/** Changes color, size, and border of all div under .category */
.category div {
  display: inline-block;
  width: 30%;
  margin-bottom: 2%;
  position: relative;
  z-index: 100;
}

#mainpagecon {
    height: 300px;
}
.singleGalleryTitle{
    text-align: center;
    font-size: 1.3em;
    background-color: rgb(85, 177, 193);
}

.carousel-item>img {
    display: block;
    margin: 0 auto;
    width: 100%;
    overflow: hidden;
}

.carousel-item img{
    width: 100%;
    margin: 0 auto;
    display: block;
    height: auto;
    overflow: hidden;
}


.button {
  margin-right: 2%;
}

.carousel {
  transform: translateY(-80px);
  min-width: 300px;
  z-index:0;
}

.itemCost {
  background-color: rgba(255, 255, 255, 0.2);
  height: 25px;
}

#points {
  display: inline;
}

#avatar {
    margin: 0 auto;
    width: 101px;
    height: 163px;
    margin-bottom: 3%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom 0px right 50%;
}
img {
        width: 105px;
    transform: translate(-2px);    

        }
.btn-small {
    height: 32.4px;
    line-height: 32.4px;
    font-size: 11px;
}

#title {
    font-family: ubuntu;
    font-size: 29px;
    margin: 0px auto;
    margin-top: -21px;
}
@media only screen and (max-width:767px) and (min-width: 411px) {
    
    .carousel {
      transform: translateY(-50px);
    }
}

@media only screen and (min-width: 768px) {
    .carousel {
      transform: translateY(80px);
    }
    #avatar {
    margin: 23 auto;
    width: 130px;
    
    height: 220px;
    }
    img{
        width:148px;
        transform: translate(-9px);    

    }
    #title{
        font-size:60px;
    }
    #mainpagecon{
        width:400px;
    }
}