/** Adds margin to container holding title */
#titlecon {
  margin: 2%;
}

/** Changes color, size, and border of all div under .category */
.category div {
  display: inline-block;
  width: 30%;
  margin-bottom: 2%;
  background-color: rgba(255,255,255, 0.75);
  border: 4px solid #707070;
  border-radius: 5px;
}
