/*Back button */
#back {
  margin-left: 5.5%;
  margin-top: 22%;
}

/** WIDTH RANGE FROM 1501px to infinity */
@media screen and (min-width: 1501px){
      #back{
        margin-top: 22%;
      }

}

/** WIDTH RANGE FROM 1080px to 1500px */
@media screen and (min-width: 1080px) and (max-width: 1500px){
      #back{
        margin-top: 24%;
      }
}

/** WIDTH RANGE FROM 800px to 1079px */
@media screen and (min-width: 800px) and (max-width: 1079px) {  
      #back{
        margin-top: 22%;
      }

}
