#avatar{
  margin: 0 auto;
  background-image: url("../images/platform/default.png");
  width: 176px;
  height: 251px;
  margin-bottom: 3%;
}

#mainpagecon{
  padding-bottom: 4%;
  font-size: 1em;
  height:600px;
  text-align: center;
}

#buttons a{
  margin: 0 auto;
  margin-bottom : 2%;
  display: block;
  width: 40%;
}

#mainpagecon label{
  font-size: 1.2em;
}
