#back{
    left: 0.5%;
    top: 1%;
    position:fixed;
}

body {
    min-width: 600px;
    max-width: 2000px;
    margin: 0 auto;
    background-color: #fff0;
}


#container {
    width: 500px;
    margin: 0 auto;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.5)
}

#mainpagecon {
    height: 230px;
}

.descriptionBox {
    font-family:"Dosis", sans-serif;
    color: white;
    font-weight:bolder;
    font-size: 1em;
 
    border-radius: 25px;
    border-width: 5px;
    width: 100%;
}

.descriptionBox h1 {
    text-align: center;
    font-size:44px;
}

.descriptionBox p {
    text-align: center;
    font-size: .74em;
}

.descritionBox h1 {
    text-align: center;
}

.wholeMemberContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.individualMemberContainer {
    padding-left: 0%;
    width: 560px;
    border: 5px solid;
    margin: 1%;
    background-color: white;
    height: 160px;
}

.member {}

.evenPicture {
    width: 150px;
    float: right;
}

.evenPicture img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
}

.imageContainer {
    width: 30%;
}

.description {
    float: left;
    width: 358px;
    font-size: 1.4em;
    margin: 1%;
    font-family: 'Crimson Text', serif;
}

.whoWeAreContainer {

    text-align:center;
    background: rgba(255, 255, 255, .53);
}

.whoWeAreContainer h1 {
    text-decoration: underline;
    font-family:"Dosis", sans-serif;
    font-size:45px;
    }

    @media only screen and (max-width:1499px) and (min-width: 900px) {
        .description {
            width: calc(100% - 115px);
            float: left;
            padding-left: 0.1px %;
            padding: 1%;
            font-family: 'Crimson Text', serif;
            font-size: 14px;
        }

    .wholeMemberContainer {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
#container {
    width: 996px;
    margin: 0 auto;
    padding: 5%;
    height:775px;
    background-color: rgba(55, 255, 0, 0.5);
}
.descriptionBox p{
    font-size:26px;
}
            .evenPicture img {
        width: 100px;
        height: 100px;
        border-radius: 100%;
    }
    .evenPicture {
        width: 100px;
    }
    .individualMemberContainer {
        width: 430px;
        margin: 1%;
        background-color: white;
        height: 110px;
    }
}

@media only screen and (min-width: 1500px) {
    .wholeMemberContainer {
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    #container {
        width: 1091px;
        margin: 0 auto;
        height: 835px;
        background-color: rgba(55, 255, 220, 0.5);
    }
    .evenPicture img {
        width: 250px;
        height: 245px;
        border-radius: 100%;
    }
    .individualMemberContainer {
        width: 800px;
        margin: 2%;
        background-color: white;
        height: 250px;
        padding-left: 0%;
    }
    .whoWeAreContainer h1 {
        font-size: 50px;
    }
    .description {
        float: left;
        font-size: 30px;
        width: 514px;
        font-family: 'Crimson Text', serif;
    }
    .evenPicture {
        width: 250px;
        height:245px;
        float: right;
    }
}
}
a {
    color: #ffffff;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}