<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <!-- WINDOW ICON -->
    <link rel="icon" href="../images/icon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../style/materialize.min.css" media="screen" />
    <!-- STYLE SHEETS -->
    <link rel="stylesheet" href="../style/styleBase.css">
    <link rel="stylesheet" href="../style/styleAboutUs.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>EcoQuest</title>
</head>

<body>
    <!-- Back Button -->
    <a id='back' class="waves-effect waves-light btn-small">Back<i class="material-icons left">home</i></a>
    <!-- Container to wrap html elements -->
    <div id='container'>
        <!-- Container to house main content -->
        <div id='mainpagecon'>
            <div id='avatar'><img src='../images/mainpageavatar.png' alt='main page avatar' /></div>
        </div>
        <!-- Container houses HTML elements pertaining to project description -->
        <div class="descriptionBox">
            <!-- Title for descriptionBox -->
            <div class="descriptionBoxTitle"> About EcoQuest </div>
            <!-- Project Description -->
            <div class="projDescription">
                <p> The earth is full of passion, wonder, and fascination.
                    Unfortunately, man-made pollution is making us lose the beauty
                    of  our earth.  We decided to create EcoQuest on the basis of
                    preserving mother nature and all its glory. Our mission is to
                    create a better and healthier earth through educating users in
                    a fun and interactive way.  We hope that EcoQuest helps the lives
                    of many by raising awareness of global warming. This way, we can
                    fix our mistakes and conquer global warming.
                </p>
            </div>
        </div>
    </div>
    <!-- Container that houses HTML elements pertaining to team members -->
    <div class="whoWeAreContainer">
        <!-- Title for team info container -->
        <div class="whoWeAreContainerTitle"> Who We Are </div>
            <!-- Contains all individual containers used for flex and alignment -->
            <div class="wholeMemberContainer">
                <!-- Container that houses HTML elements pertaining to each team member-->
                <div class="individualMemberContainer">
                    <!-- Team name-->
                    <div class="nametitle">
                        Bret Getz (Project Manager)
                    </div>
                    <div class="nameDescContainer">
                        <div class="description">
                            "Ever since I was a child, I asked my mother to buy me a bike because gas is poison to our earth." -Bret Getz. Bret is a software developer from Cranbook, BC. His favorite past times biking to Tim Hortons.
                        </div>
                        <div class="evenPicture">
                            <img src="../images/bret.jpg" alt="brett">
                        </div>
                    </div>
                </div>

                <div class="individualMemberContainer">
                    <div class="nametitle">
                        Hannah Chung (Full Stack Developer)
                    </div>
                    <div class="nameDescContainer">
                        <div class="description">
                            "I always buy degradable tooth brushes. I can't stand how much plastic we throw away." -Hannah Chung. Hannah is a software developer from South Korea who is passionate about reducing waste.
                        </div>
                        <div class="evenPicture">
                            <img src="../images/hannah.jpg" alt="hannah">
                        </div>
                    </div>
                </div>

                <div class="individualMemberContainer">
                    <div class="nametitle">
                        Stella Tran (Full Stack Developer)
                    </div>
                    <div class="nameDescContainer">
                        <div class="description">
                            "It just makes sense. It only makes sense. Saving our eath just makes sense." -Stella Tran. Stella tran is a software developer from Vancouver who only drinks water out of reusable cups.
                        </div>
                        <div class="evenPicture">
                            <img src="../images/stella.jpg" alt="stella">
                        </div>
                    </div>
                </div>

                <div class="individualMemberContainer">
                    <div class="nametitle">
                        Jessica Kim (Backend Developer)
                    </div>
                    <div class="nameDescContainer">
                        <div class="description">
                            "When I'm stressed, I go to the park or forest. It makes me calm. I hope the forest will be there when I get older." - Jessica Kim. Jessica is a software developer from Korea. She always makes sure to recycle.
                        </div>
                        <div class="evenPicture">
                            <img src="../images/jessica.jpg" alt="jessica">
                        </div>
                    </div>
                </div>

                <div class="individualMemberContainer">
                    <div class="nametitle">
                        Rose Song (Frontend Developer)
                    </div>
                    <div class="nameDescContainer">
                        <div class="description">
                            "Always reuse your bags at the grocery store, there's no need to waste plastic." -Rose Song. Rose Song is a software developer from Coquitlam. She uses reusable straws to reduce waste.
                        </div>
                        <div class="evenPicture">
                            <img src="../images/rose.jpg" alt="rose">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class=".spacingDiv">
    </br>
    </br>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/materialize.min.js"></script>
    <script src="../js/aboutUs.js"></script>
</body>
</html>
