<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8" />
    <!-- Window Tab Icon -->
    <link rel="icon" href="../images/icon.png" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link type="text/css" rel="stylesheet" href="../style/materialize.min.css" media="screen,projection" />
    <!-- STYLE SHEETS -->
    <link rel="stylesheet" href="../style/styleBase.css" />
    <link rel="stylesheet" href="../style/styleBaseRoom.css" />
    <link rel="stylesheet" href="../style/styleCreateRoom.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <title>EcoQuest</title>
</head>

<body>
    <!-- Container that holds all HTML elements -->
    <div id="container">
        <h1 id="logo">EcoQuest</h1>

        <!-- Container that holds all main content -->
        <div class="mainCon">

            <!-- Header for page -->
            <div id="header"><b>Create Room</b></div>

            <!-- Row contains headers deck and category -->
            <div class="optionCon row">
                <div class="input-field col s6 category">
                    <select id='myCate'>
                        <option value="" disabled selected>Category</option>
                        <option value="">All</option>
                        <option value="Eco">Eco</option>
                        <option value="Science">Science</option>
                        <option value="Math">Math</option>
                    </select>
                </div>
                <div class="input-field col s6 deck">
                    <select id='myDeck'>
                        <option value="" disabled selected>Deck</option>
                        <option value="">All</option>
                    </select>
                </div>
            </div>

            <!-- Container for room information(Room number and password) -->
            <div id="roomcon">
                <!-- Label for room number -->
                <label for="roomNo"><b>Room Number *</b></label>
                <!-- RoomNo grabbed from server -->
                <input id="roomNo" type="text" name="roomNo" placeholder="Enter Room Number" required />

                <!-- Label for room password -->
                <label for="roomPass"><b>Room Password *</b></label>
                <!-- Takes input to set password for room-->
                <input id="roomPass" type="text" name="roomPass" placeholder="Enter Password" required />
            </div>

            <!-- Creates room -->
            <a id="submit" class="waves-effect waves-light btn"><i class="material-icons right">create</i>Create</a>
            
            <!-- Returns you to main menu-->
            <a id="back" class="waves-effect waves-light btn-small">Back<i class="material-icons left">home</i></a>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/createRoom.js"></script>
</body>

</html>
