<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>

<img style="display: block; width: 100%" src="../images/emailHeader.png"/> <p><b>Hi user.username !</b></p><br><p>Thank you for creating an account with our app. Are you ready to embark on your first EcoQuest? We hope to amaze you with our project that was completed in five weeks. Our team worked hard to bring this project to you so we hope you truly enjoy the experience.</p><br><p><b>From, the EcoQuest Team</b></p><img style="display: inline; width: 100%" src="../images/emailFooter.png"/>
</body>
</html>