<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/icon.png" type="../images/icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../style/styleBase.css" >
    <link rel="stylesheet" href="../style/styleBaseRoom.css" >
    <link rel="stylesheet" href="../style/styleGameLobby.css" >
    <link type="text/css" rel="stylesheet" href="../style/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>EcoQuest</title>
    <style>

    </style>
    </head>

  <body>
    <div id='container'>
      <h1 id='logo'> EcoQuest </h1>
      <div class='mainCon'>
      <div id='header'><b>Game Lobby</b> </div>

        <div id='roomcon'>
          <label for="roomNo0"><b>Room Number</b></label>
          <div id='roomNo'>123ABC</div>

          <label for="memberpool"><b>Members</b></label>
          <div id='memberpool'>


          </div>
          <button  id="start" class="btn waves-effect waves-light"    type="submit" name="action">Start
            <i class="material-icons right">donut_large</i>
          </button></button>

          </div>
            <a id='back' class="waves-effect waves-light btn-small">Back<i class="material-icons right">home</i></a>
    </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/gameLobby.js"></script>
  </body>
</html>
