<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/icon.png" type="../images/icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../style/styleBase.css" >
    <link rel="stylesheet" href="../style/styleDoubleHeaderInput.css" >
    <link rel="stylesheet" href="../style/styleMyCards.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>EcoQuest</title>
    <style>
      #status {
        text-align: center;
      }
    </style>
    </head>

  <body>
    <div id='container'>
      <h1 id='logo'> EcoQuest </h1>
      <div id='mainCon'>
        <div id='headerCon' class='hoverPointer'>
          <div class='headerLeft'> Create Cards</div>
          <div class='headerRight'> My Cards</div>
        </div>
        <div id='status'></div>
        <div id='inputcon'>
            <div class='headerLeftCon' >
              <label for="deckname"><b>deckname</b></label>
              <input
               id="deckname"
                type="text"
                required
              />


            <button id="decksubmit" class='hoverPointer'><label>Create</label></button>
          </div>
          <div class='headerRightCon' >
            <div id='cardsCon'> </div>
          </div>
          <!-- <div class='headerLeftCon' >
            <label for="question"><b>Question</b></label>
            <input
             id="question"
              type="text"
              required
            />

            <label for="answer"><b>Answer</b></label>
            <input
              id="answer"
              type="text"
              required
            />
          <button id="submitLeft" class='hoverPointer'><label>Create</label></button>
        </div>
        <div class='headerRightCon' >
          <div id='cardsCon'> </div>
        </div> -->

      </div>

    </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../js/hannahtest.js"></script>
  </body>
</html>
