<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/icon.png" type="../images/icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../style/styleBase.css" >
    <link rel="stylesheet" href="../style/styleBaseRoom.css" >
    <link rel="stylesheet" href="../style/styleJoinRoom.css" >
    <link type="text/css" rel="stylesheet" href="../style/materialize.min.css"  media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>EcoQuest</title>
    <style>

    </style>
    </head>

  <body>
    <div id='container'>
      <h1 id='logo'> EcoQuest </h1>
      <div class='mainCon'>
      <div id='header'><b>Join Room</b> </div>

        <div id='roomcon'>
          <label for="roomNo0"><b>Room Number</b></label>
          <input
            id="roomNo0"
            type="text"
            name="roomPass"
            placeholder='Enter Room Number'
            required
          />

          <label for="roomPass1"><b>Room Password</b></label>
          <input
            id="roomPass1"
            type="text"
            name="roomPass"
            placeholder='Enter Password'
            required
          />

          </div>
          <button id = "join" class="submit"><label>Join</label></button>
        <div id='backcon'> <button id='back'>Back </button></div>
        </div>

    </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/joinRoom.js"></script>
  </body>
</html>
