<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input
        id="uname"
        type="text"
        placeholder="Enter Username"
        name="uname"
        required
      />

      <label for="email"><b>email</b></label>
      <input
        id="email"
        type="text"
        placeholder="Enter Email"
        name="email"
        required
      />

      <label for="psw"><b>Password</b></label>
      <input
        id="pass"
        type="password"
        placeholder="Enter Password"
        name="psw"
        required
      />

      <button id="submit">
        <label>
          Submit
        </label>
      </button>

      <button id="login">
        <label>
          login
        </label>
      </button>

      <p id="userInfo">User Info:</p>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/login.js"></script>
  </body>
</html>
