<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/icon.png" type="../images/icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../style/styleBase.css" >
    <link rel="stylesheet" href="../style/styleMainPage.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>EcoQuest</title>
    </head>

    <body>
        <!-- Wraps all HTML content in one div -->
        <div id='container'>
          <h1 id='logo'> EcoQuest </h1>
          <!-- Holds all main content -->
          <div id='mainpagecon'>
            <div id='titlecon'>
            <!-- Title for page -->
            <h2 id='title'></h2></div>
            <!-- Player's avatar -->
            <div id='avatar' class='bounceIn'><img  src='../images/blackChar.png' alt='main page avatar' /></div>
            <!-- Game Options -->
            <div id='buttons'>
                <button id="create"><label>Create</label></button>
                <button id="join"><label>Join</label></button>
                <button id="cards"><label>My Cards</label></button>
                <button id="shop"><label>Shop</label></button>
                <button id="logout"><label>Log Out</label></button>
            </div>
          </div>
        </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../js/mainPage.js"></script>
  </body>
</html>
