<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <!-- Window Tab Icon -->
    <link rel="icon" href="../images/icon.png" type="image/x-icon" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="../style/materialize.min.css"
      media="screen,projection"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- STYLE SHEETS -->
    <link rel="stylesheet" href="../style/styleBase.css" />
    <link rel="stylesheet" href="../style/styleMainPage.css" />
    <title>EcoQuest</title>
    <style type="text/css"></style>
  </head>

  <body>
    <!-- Wraps all HTML content in one div -->
    <div id="container">
      <!--Project Logo -->
      <h1 id="logo">EcoQuest</h1>

      <!-- Holds all main content -->
      <div id="mainpagecon">
        <!-- Title for page -->
        <div id="titlecon">
          <h2 id="title"></h2>
        </div>

        <!-- Player's avatar -->
        <div id="avatar">
          <img id="char" />
        </div>

        <!-- Game Options -->
        <div id="buttons">
          <!-- Create Room -->
          <a id="create" class="waves-effect waves-light btn-large"
            >Create</a
          >

          <!-- Join Room -->
          <a id="join" class="waves-effect waves-light btn-large"
            >Join</a
          >

          <!-- My Cards -->
          <a id="cards" class="waves-effect waves-light btn-large">My Cards</a>

          <!-- Shop -->
          <a id="shop" class="waves-effect waves-light btn-large">Shop</a>

          <!-- Project About Us Page -->
          <a id="aboutUs" class="waves-effect waves-light btn-large"
            >About Us</a
          >

          <!-- Log out button -->
          <a id="logout" class="waves-effect waves-light btn-large">Log Out</a>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../js/mainPage.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
  </body>
</html>
