<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/icon.png" type="../images/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../style/styleBase.css">
    <link rel="stylesheet" href="../style/styleDoubleHeaderInput.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../style/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../style/styleMyCards.css">
    <title>EcoQuest</title>
</head>

<body>
    <div id='container'>
        <h1 id='logo'> EcoQuest </h1>
        <div id='mainCon'>
            <div id='headerCon' class='hoverPointer'>
                <div class='headerLeft'> Create Cards</div>
                <div class='headerRight'> My Cards</div>
            </div>

<!-- This is for displaying all my cards with filtering by category or deck. -->
            <div id='headerRightCon'>
                <div class="row optionCon">
                    <div class="input-field col s6 category">
                        <select id='myCate'>
                            <option value="" disabled selected>Category</option>
                            <option value="">All</option>
                            <option value="Eco">Eco</option>
                            <option value="Science">Science</option>
                            <option value="Math">Math</option>
                        </select>
                    </div>
                    <div class="input-field col s6 deck">
                        <select id='myDeck'>
                            <option value="" disabled selected>Deck</option>
                            <option value="">All</option>
                        </select>
                    </div>
                </div>
                <div id='cardsCon'> </div>
            </div>

<!-- User can create a card in a specific category on a specific deck or a new deck. -->
            <div id='headerLeftCon'>
                <div class="row optionCon">
                    <div class="input-field col s6 category">
                        <select id='creCate'>
                            <option value="" disabled selected>Category</option>
                            <option value="Eco">Eco</option>
                            <option value="Science">Science</option>
                            <option value="Math">Math</option>
                        </select>
                    </div>
                    <div class="input-field col s6 deck">
                        <select id='creDeck'>
                            <option value="" disabled selected>Deck</option>
                            <option value="createnewdeck">New</option>
                        </select>
                    </div>

                </div>
                <div id='inputcon'>
                    <label for="deckName"><b>Deck Name *</b></label>
                    <input disabled value="" id="deckName" type="text" placeholder="Choose your Deck">
                    <label for="question"><b>Question *</b></label>
                    <input id="question" type="text" required placeholder="" />

                    <label for="answer"><b>Answer *</b></label>
                    <input id="answer" type="text" required />
                    <a id='submitLeft' class="waves-effect waves-light btn"><i class="material-icons right">create</i>Create</a>
                </div>
            </div>
            <a id='back' class="waves-effect waves-light btn-small">Back<i class="material-icons right">home</i></a>
        </div>

    </div>
    </div>


    <!-- Modal for editting -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <p class="lessMargin">E D I T</p>
            <div class="row lessMargin">
                <div class="input-field col s6 lessMargin">
                    <select id='editCate'>
                        <option value="" disabled>Category</option>
                        <option value="Eco">Eco</option>
                        <option value="Science">Science</option>
                        <option value="Math">Math</option>
                    </select>
                </div>
                <div class="input-field col s6 lessMargin">
                    <select id='editDeck'>
                        <option value="" disabled selected>Deck</option>
                    </select>
                </div>
                <input id="editQuestion" class="shortWidth" type="text" required />
                <input id="editAnswer" class="shortWidth" type="text" required />
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" id="edityes" class="modal-close waves-effect waves-green btn-flat" style="color:#26a69a">Edit</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
    </div>


    <!-- Modal for deleting -->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <p>Do you really want to delete this card?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" id="deleteyes" class="modal-close waves-effect waves-green btn-flat" style="color:#ff4f4f;">Yes</a>
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">No</a>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/myCards.js"></script>
</body>

</html>
