<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/icon.png" type="../images/icon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../style/styleBase.css" >
    <link rel="stylesheet" href="../style/styleDoubleHeaderInput.css" >
    <link rel="stylesheet" href="../style/styleMyCards.css" >
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>EcoQuest</title>
    </head>
    <style>
      .col-xs-6 {
        margin: 0 auto;
        margin-bottom: 2%;
      }
    </style>
  <body>
    <div id='container'>
      <h1 id='logo'> EcoQuest </h1>
      <div id='mainCon'>
        <div id='headerCon' class='hoverPointer'>
          <div class='headerLeft'> Create Cards</div>
          <div class='headerRight'> My Cards</div>
        </div>
        <div id='status'></div>
        <div id='inputcon'>
          <div class="row">
    <div class="col-xs-6 deck">
              Deck: 
              <select name="deck">
                <option value="main" selected>Main</option>
                <option value="special">Special</option>
                <option value="funny">Funny</option>
                <option value="random">Random</option>
              </select>
    </div>
    <div class="col-xs-6">
          Category: 
              <select name="category">
                <option value="all">All</option>
                <option value="Math">Math</option>
                <option value="Science" selected>Science</option>
                <option value="Sports">Sport</option>
              </select>
    </div>
</div>

          <div class='headerLeftCon' >
            <label for="question"><b>Question</b></label>
            <input
             id="question"
              type="text"
              required
            />

            <label for="answer"><b>Answer</b></label>
            <input
              id="answer"
              type="text"
              required
            />
          <button id="submitLeft" class='hoverPointer'><label>Create</label></button>
        </div>
        <div class='headerRightCon' >
          <div id='cardsCon'> </div>

        </div>
         <div id='backcon'> <button id='back'>Back </button></div>
      </div>

    </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="../js/myCards.js"></script>
  </body>
</html>
