<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <link rel="icon" href="../images/icon.png" type="../images/icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="../style/styleBase.css">
    <link rel="stylesheet" href="../style/styleDoubleHeaderInput.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../style/materialize.min.css" media="screen,projection" />
    <link rel="stylesheet" href="../style/styleMyCards.css">
    <title>EcoQuest</title>
</head>
<style>
    #submitLeft{
        margin: 0 auto;
      }

      #deckName{
        border-bottom: 0px;
        background-color: #A0A0A0 !important;
      }
    </style>

<body>
    <div id='container'>
        <h1 id='logo'> EcoQuest </h1>
        <div id='mainCon'>
            <div id='headerCon' class='hoverPointer'>
                <div class='headerLeft'> Create Cards</div>
                <div class='headerRight'> My Cards</div>
            </div>

            <div id='headerRightCon'>
                <div class="row">
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                </div>
                <div id='cardsCon'> </div>
            </div>

            <div id='headerLeftCon'>
                <div class="row">
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>
                    <div class="input-field col s6">
                        <select>
                            <option value="" disabled selected>Choose your option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </div>

                </div>
                <label for="deckName"><b>Deck Name</b></label>
                <input disabled value="" id="deckName" type="text">
                <label for="question"><b>Question</b></label>
                <input id="question" type="text" required />

                <label for="answer"><b>Answer</b></label>
                <input id="answer" type="text" required />
                <a id='submitLeft' class="waves-effect waves-light btn"><i class="material-icons right">create</i>Create</a>

            </div>


            <a id='back' class="waves-effect waves-light btn-small">Back<i class="material-icons right">home</i></a>
            <div id='status'></div>
        </div>

    </div>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script src="../js/myCards.js"></script>
</body>

</html>
